.Rproj.user
.Rhistory
.RData
.Ruserdata
*raw
*.b
*.cor
*.cov
*.cpp
*.dep
*.ecm
*.eva
*.exe
*.hst
*.hes
*.htp
*.log
*.mc2
*.mcm
*.obj
*.p01
*.p02
*.p03
*.p04
*.r01
*.r02
*.r03
*.r04
*.std
*.rep
*.b01
*.b02
*.b03
*.b04
*.bar
*.par
*.pin
*.psv
*.std
*.prj
2020
2022/srv_sensitivity
2022/base
2022/no_srv
2022/m18.2b_length
2022/m18.2_rewt
2022/m18.2_nowt
2022/data
2022/code
test
*.tex
*.docx
*.pdf
*.html