.Rproj.user
.Rhistory
.RData
.Ruserdata
*raw
*.b
*.cor
*.cov
*.cpp
*.dep
*.ecm
*.eva
*.exe
*.hst
*.hes
*.htp
*.log
*.mc2
*.mcm
*.obj
*.p01
*.p02
*.p03
*.p04
*.r01
*.r02
*.r03
*.r04
*.std
*.rep
*.b01
*.b02
*.b03
*.b04
*.bar
*.par
*.pin
*.psv
*.std
*.prj
test
*.tex
*.docx
*.pdf
*.html